In [1]:
import pandas as pd
pd.set_option('display.max_columns',None,'display.max_rows',None)

In [2]:
data = pd.read_csv("C:\\Users\\gaber\\Downloads\\Uncleaned_DS_jobs\\Uncleaned_DS_jobs.csv")
data.shape

(672, 15)

In [3]:
data.dtypes

index                  int64
Job Title             object
Salary Estimate       object
Job Description       object
Rating               float64
Company Name          object
Location              object
Headquarters          object
Size                  object
Founded                int64
Type of ownership     object
Industry              object
Sector                object
Revenue               object
Competitors           object
dtype: object

In [4]:
data.isna().sum()

index                0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

In [5]:
data.head(10)

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
5,5,Data Scientist,$137K-$171K (Glassdoor est.),About Us:\n\nHeadquartered in beautiful Santa ...,4.2,HG Insights\n4.2,"Santa Barbara, CA","Santa Barbara, CA",51 to 200 employees,2010,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1
6,6,Data Scientist / Machine Learning Expert,$137K-$171K (Glassdoor est.),Posting Title\nData Scientist / Machine Learni...,3.9,Novartis\n3.9,"Cambridge, MA","Basel, Switzerland",10000+ employees,1996,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1
7,7,Data Scientist,$137K-$171K (Glassdoor est.),Introduction\n\nHave you always wanted to run ...,3.5,iRobot\n3.5,"Bedford, MA","Bedford, MA",1001 to 5000 employees,1990,Company - Public,Consumer Electronics & Appliances Stores,Retail,$1 to $2 billion (USD),-1
8,8,Staff Data Scientist - Analytics,$137K-$171K (Glassdoor est.),Intuit is seeking a Staff Data Scientist to co...,4.4,Intuit - Data\n4.4,"San Diego, CA","Mountain View, CA",5001 to 10000 employees,1983,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD),"Square, PayPal, H&R Block"
9,9,Data Scientist,$137K-$171K (Glassdoor est.),Ready to write the best chapter of your career...,3.6,XSELL Technologies\n3.6,"Chicago, IL","Chicago, IL",51 to 200 employees,2014,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1

In [6]:
data.columns

Index(['index', 'Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

## Remove the index column

In [7]:
data.drop(['index'], axis= 1, inplace= True)
data.shape

(672, 14)

## Splitting the Salary Estimate to 2 columns
#### -We are splitting the column to Min Salar and Max Salary
#### -Creating a Mean_salary column

In [8]:
data['Salary Estimate'] = data['Salary Estimate'].str.replace(' (Glassdoor est.)','')
data['Salary Estimate'].head()

0    $137K-$171K
1    $137K-$171K
2    $137K-$171K
3    $137K-$171K
4    $137K-$171K
Name: Salary Estimate, dtype: object

In [9]:
data[['Min_Salary', 'Max_Salary']] = data['Salary Estimate'].str.split('-', expand=True)
data[['Min_Salary', 'Max_Salary']].head()

  Min_Salary Max_Salary
0      $137K      $171K
1      $137K      $171K
2      $137K      $171K
3      $137K      $171K
4      $137K      $171K

#### As we can see from the cell below that there are other string values in the Max_Salary column that need to be removed before trimming and changing the dtype

In [10]:
print(data['Min_Salary'].unique())
print(data['Max_Salary'].unique())

['$137K' '$75K' '$79K' '$99K' '$90K' '$101K' '$56K' '$71K' '$91K' '$141K'
 '$145K' '$122K' '$112K' '$110K' '$124K' '$69K' '$31K' '$95K' '$212K'
 '$66K' '$128K' '$138K' '$80K' '$87K' '$92K' '$105K']
['$171K' '$131K' '$132K' '$109K' '$165K' '$97K' '$106K' '$123K' '$124K'
 '$150K' '$225K' '$225K(Employer est.)' '$147K' '$146K' '$116K' '$163K'
 '$198K' '$133K' '$56K' '$119K' '$331K' '$112K' '$201K' '$158K' '$141K'
 '$155K' '$167K']

In [11]:
data['Max_Salary'] = data['Max_Salary'].str.replace('(Employer est.)','')

In [12]:
data[['Min_Salary', 'Max_Salary']] = data[['Min_Salary', 'Max_Salary']].apply(lambda x: x.str.strip('$K')) 
data[['Min_Salary', 'Max_Salary']] = data[['Min_Salary', 'Max_Salary']].astype(int)
data[['Min_Salary', 'Max_Salary']] = data[['Min_Salary', 'Max_Salary']] * 1000
print(data['Min_Salary'].dtype, data['Max_Salary'].dtype)

int32 int32

In [13]:
data[['Min_Salary', 'Max_Salary']].head()

   Min_Salary  Max_Salary
0      137000      171000
1      137000      171000
2      137000      171000
3      137000      171000
4      137000      171000

In [14]:
data['Average_Salary'] = (data['Min_Salary'] + data['Max_Salary']) / 2

In [15]:
data.drop(columns= ['Salary Estimate'], axis=1, inplace= True)

##  Size of employees:
#### - change to Mean of employees
#### - Change the dtype to int

In [16]:
data['Size'] = data['Size'].str.replace(' employees','')

In [17]:
data['Size'].unique()

array(['1001 to 5000', '5001 to 10000', '501 to 1000', '51 to 200',
       '10000+', '201 to 500', '1 to 50', '-1', 'Unknown'], dtype=object)

In [18]:
data_map = {'1001 to 5000': 2500, '5001 to 10000': 5000, '501 to 1000': 750, '51 to 200': 125,
       '10000+': 10000, '201 to 500': 350, '1 to 50': 25, '-1': 0, 'Unknown': 0}
data['Size'] = data['Size'].map(data_map)
data.rename(columns={'Size':'Average_size_of_employees'}, inplace= True)
data['Average_size_of_employees'].head()

0    2500
1    5000
2    2500
3     750
4     125
Name: Average_size_of_employees, dtype: int64

#### We have some companies with 0 number of employees which does not make sense

In [19]:
data['Average_size_of_employees'].value_counts()

Average_size_of_employees
125      135
2500     104
25        86
350       85
10000     80
750       77
5000      61
0         44
Name: count, dtype: int64

#### List of companies with no employee range

In [20]:
data[data['Average_size_of_employees'] == 0]['Company Name']

154             Covid-19 Search Partners
158                  Radical Convergence
189                Constant Contact\n3.6
193                      SkillSoniq\n5.0
258           The Drive Media, Inc.\n5.0
261                Constant Contact\n3.6
274                      SkillSoniq\n5.0
282                       Trovetechs Inc
285                       Trovetechs Inc
308                  Kollasoft Inc.\n3.2
351                     Point72 Ventures
357                       Hatch Data Inc
358                       Hatch Data Inc
359                       Hatch Data Inc
360                       Hatch Data Inc
361                       Hatch Data Inc
362                       Hatch Data Inc
388                               HireAi
389                               HireAi
409                                Navio
424                           Voice\n3.4
430       Falcon IT & Staffing Solutions
444                       Hive (CA)\n2.1
459                       Blue Cloak LLC
495                       Hatch Data Inc
496                       Hatch Data Inc
497                       Hatch Data Inc
498                       Hatch Data Inc
499                       Hatch Data Inc
500                       Hatch Data Inc
513         Sharpedge Solutions Inc\n4.7
519              Monte Rosa Therapeutics
524                           CompuForce
555                               HireAi
568                                 Kibo
595                             CIA\n3.8
613                     GrainBridge, LLC
615    Sprezzatura Management Consulting
650              Monte Rosa Therapeutics
656                  Berico Technologies
657               Kehe Food Distributors
660                         Pactera Edge
668                                 JKGT
669                           AccessHope
Name: Company Name, dtype: object

#### As we can see there are many company names are redundunt so we need to drop the duplicate companies and remove the companies with no names

In [21]:
print(data.shape)
data.drop_duplicates(subset=['Company Name'], keep= 'first', inplace=True)
print(data.shape)
data = data.drop(data[(data['Company Name'] == '') | (data['Company Name'] == ' ')].index)
print(data.shape)

(672, 16)
(432, 16)
(432, 16)

### The companies with no number of employees might be classified data or startups. Whether we impute or drop those companies rely on the domain knowledge and the specific analysis we might do later.
___

## Revnue Column
#### The Revenue column has to a number so we can do analysis on different comapnies in the future. We changed every value in the Revenue column to represent roughly the average value of the companies revenue.

In [22]:
data['Revenue'].unique()

array(['Unknown / Non-Applicable', '$1 to $2 billion (USD)',
       '$100 to $500 million (USD)', '$10+ billion (USD)',
       '$2 to $5 billion (USD)', '$500 million to $1 billion (USD)',
       '$5 to $10 billion (USD)', '$10 to $25 million (USD)',
       '$25 to $50 million (USD)', '$50 to $100 million (USD)',
       '$1 to $5 million (USD)', '$5 to $10 million (USD)',
       'Less than $1 million (USD)', '-1'], dtype=object)

In [23]:
revenue_map = {'Unknown / Non-Applicable':0, '$1 to $2 billion (USD)':1.5*(10**3),
       '$100 to $500 million (USD)': 300, '$10+ billion (USD)': 10**4,
       '$2 to $5 billion (USD)': 3.5*(10**3), '$500 million to $1 billion (USD)': 750,
       '$5 to $10 billion (USD)': 7.5*(10**3), '$10 to $25 million (USD)': 17.5,
       '$25 to $50 million (USD)': 37.5, '$50 to $100 million (USD)': 75,
       '$1 to $5 million (USD)': 3, '$5 to $10 million (USD)': 7.5,
       'Less than $1 million (USD)': 1, '-1':0}
data['Revenue_in_Million'] = data['Revenue'].map(revenue_map)
data['Revenue_in_Million'].dtype

dtype('float64')

In [24]:
data.drop(columns=['Revenue'], axis= 1, inplace= True)

### In the cell below there are 155 companies with 0 revenue which indicates that it is either classified information or startup companies. One way to do this is to impute those missing values using the mean of the revenue.
### You might also leave it as is if it is not that important in your analysis.

In [25]:
data['Revenue_in_Million'].value_counts()

Revenue_in_Million
0.0        157
300.0       60
10000.0     34
17.5        31
37.5        25
1500.0      23
75.0        22
3500.0      20
3.0         19
7.5         12
1.0         11
750.0       10
7500.0       8
Name: count, dtype: int64

In [26]:
mask = data['Revenue_in_Million'] == 0
data.loc[mask, 'Revenue_in_Million'] = data['Revenue_in_Million'].mean()

In [27]:
data['Revenue_in_Million'].value_counts()

Revenue_in_Million
1234.462963     157
300.000000       60
10000.000000     34
17.500000        31
37.500000        25
1500.000000      23
75.000000        22
3500.000000      20
3.000000         19
7.500000         12
1.000000         11
750.000000       10
7500.000000       8
Name: count, dtype: int64

## Remove the numbers from the company name

In [28]:
data['Company Name'].unique()

array(['Healthfirst\n3.1', 'ManTech\n4.2', 'Analysis Group\n3.8',
       'INFICON\n3.5', 'Affinity Solutions\n2.9', 'HG Insights\n4.2',
       'Novartis\n3.9', 'iRobot\n3.5', 'Intuit - Data\n4.4',
       'XSELL Technologies\n3.6', 'Novetta\n4.5', '1904labs\n4.7',
       'PNNL\n3.7', 'Old World Industries\n3.1',
       'Mathematica Policy Research\n3.4',
       'Guzman & Griffin Technologies (GGTI)\n4.4',
       'Upside Business Travel\n4.1', 'Buckman\n3.5',
       'Insight Enterprises, Inc.\n4.2', 'Tower Health\n3.5',
       'Triplebyte\n3.2', 'PulsePoint\n4.3', 'Exponent\n3.5',
       'Guardian Life\n3.5',
       'Spectrum Communications and Consulting\n3.4',
       'Oversight Systems\n4.7', 'LSQ\n4.2',
       'MIT Lincoln Laboratory\n3.8', 'Kingfisher Systems\n4.5',
       'Formation\n2.8', 'Cohere Health\n5.0', 'Acuity Insurance\n4.8',
       'Chef\n3.6', 'Puget Sound Energy\n3.3', 'Sandhills Global\n2.7',
       'A Place for Mom\n2.7', 'Great-Circle Technologies\n2.2',
       'Edmunds.com\n3.4', 'Cambridge Associates, LLC\n3.1',
       'Liberty Mutual Insurance\n3.4', 'Cenlar\n2.6',
       'Arsenal Biosciences\n5.0', 'Eversight\n4.2', 'Pfizer\n4.1',
       'Klaviyo\n4.8', 'Intellectual Ventures\n3.3', 'GovTech\n3.7',
       'Quick Base\n4.3', 'Giving Assistant\n4.8', 'Takeda\n3.7',
       'Netskope\n4.0', 'IT Concepts\n4.8', 'iSeatz\n3.5',
       'Summa Health System\n3.7', 'Benson Hill\n3.5', 'Twitter\n4.1',
       'Postmates - Corporate HQ\n3.2', 'Envision LLC\n4.5',
       'Swiss Re\n3.8', 'Systems & Technology Research\n4.5',
       'Dermalogica\n3.8', 'Bayview Asset Management\n3.7',
       'Via Transportation\n3.7', 'Grid Dynamics\n4.0',
       'Tempus Labs\n3.3', 'CareDx\n2.5', 'IZEA\n4.2', 'Autodesk\n4.0',
       'Caterpillar\n3.7', 'New England Biolabs\n4.9',
       'Allied Solutions\n3.4', 'The Knot Worldwide\n3.5',
       'IFG Companies\n2.9', 'Amyris\n3.3', 'AstraZeneca\n4.0',
       'Powertek\n3.6', 'Object Partners\n4.7', 'The Mom Project\n4.9',
       'Lightspeed Systems\n4.3', 'Stripe\n4.0',
       'Comprehensive Healthcare\n2.6',
       'Fullpower Technologies, Inc.\n4.5', 'Mars\n3.9',
       'NuWave Solutions\n4.4', 'Merrick Bank\n3.6', 'QOMPLX\n3.5',
       'GutCheck\n3.8', 'Inter-American Development Bank\n3.5',
       'Avlino\n4.9', 'Stratagem Group\n4.4', 'Evidation\n4.1',
       'Tecolote Research\n3.8', 'Tivity Health\n3.2', 'hc1\n2.9',
       'HP Inc.\n4.1', 'SAIC\n3.7', 'AllianceBernstein\n3.2',
       'Big Huge Games\n4.9', 'Maxar Technologies\n3.5',
       'Phantom AI\n5.0', 'Noblis\n4.0', 'Spring Health\n3.6',
       'ClearEdge\n4.0', 'GetWellNetwork\n4.8', 'TACG Solutions\n4.5',
       'Scoop\n4.7', 'Montway Inc\n3.4', 'Juniper Networks\n3.8',
       'Notion Labs\n5.0', 'Lendio\n4.9', 'Direct Agents\n4.4',
       'NAVEX Global\n3.3', 'Upstart\n4.2', 'AppLovin\n4.8',
       'ISO New England\n3.8', 'Relativity\n3.7', 'Tempo Automation\n3.3',
       'MITRE\n3.3', 'Expedition Technology, Inc.\n5.0', 'Evidera\n3.8',
       'Plymouth Rock Assurance\n3.4', 'Crown Bioscience\n2.4',
       'GNS Healthcare\n2.9', 'OneMagnify\n4.4', 'SPECTRUM\n2.9',
       'Advanced BioScience Laboratories\n2.7',
       'Procore Technologies\n4.2', 'Ritedose\n3.5',
       'Covid-19 Search Partners', 'bioMérieux\n4.2',
       'Radical Convergence', 'Leidos\n3.5', 'Demandbase\n4.5',
       'Shelter Insurance\n4.1', 'USAC\n2.7',
       'General Dynamics Information Technology\n3.4', 'Offerpad\n4.4',
       'Magna International Inc.\n3.5', 'United BioSource\n2.3',
       'Kelly\n3.4', 'C3.ai\n4.7', 'Quartet Health\n3.9',
       'Midland Credit Management\n3.3',
       'Resurgent Capital Services\n4.4', 'webfx.com\n4.7',
       'Argo Group US\n3.5', 'BWX Technologies\n3.3', 'Life360\n3.9',
       'MassMutual\n3.7', 'Natera\n3.9', 'Genentech\n4.0', 'Ntrepid\n4.2',
       'Constant Contact\n3.6', 'Sage Intacct\n4.7',
       'Shape Security\n4.1', 'SkillSoniq\n5.0', 'Joby Aviation\n4.3',
       "Cook Children's Health Care System\n3.8",
       'Rubius Therapeutics\n3.8', 'GreatAmerica Financial Services\n4.6',
       'Coverent\n4.1', 'Mteq\n3.7', 'Rocket Lawyer\n4.4',
       'Alion Science & Technology\n3.6', 'Protolabs\n3.7',
       'Quest Integrity\n2.9', 'Phoenix Operations Group\n5.0',
       'Dice.com\n3.4', 'Southwest Research Institute\n3.9',
       'The Buffalo Group\n4.3',
       'Central California Alliance for Health\n3.5',
       'Security Finance Corporation of Spartanburg\n3.1',
       'Opendoor\n3.6', 'Global Data Management Inc\n4.5',
       'Photon Infotech\n3.0', 'REE\n5.0',
       'Riverside Research Institute\n3.6', 'T. Rowe Price\n3.6',
       'Encode, Inc.', 'Brighthouse Financial\n3.8',
       'II-VI Incorporated\n3.3', 'Surya Systems\n4.6', 'PayPal\n3.8',
       'Predictive Research Inc\n3.9', '1010data\n3.1', 'Gigya\n3.6',
       'Genesis Research\n5.0', 'Sanofi\n3.7', 'XPO Logistics\n3.7',
       'Trace Data\n3.9', 'Descript\n4.3',
       'Rincon Research Corporation\n4.2', 'Better Hire\n4.0',
       'Parker Hannifin\n3.3', 'Gallup\n4.1', 'Insider Inc\n3.3',
       'Rapid Value Solutions\n3.9', 'Battelle\n3.1',
       'The Drive Media, Inc.\n5.0',
       'Pacific Northwest National Laboratory\n3.7',
       'US Pharmacopeia\n3.2', 'Itlize Global\n4.6', 'eBay\n3.5',
       'Paige\n5.0', 'ABIOMED\n4.1', 'Comcast\n3.5',
       'Metronome, LLC\n3.2', 'Lawrence Livermore National Lab\n4.7',
       'FHLBank Pittsburgh\n3.8', 'Jacobs\n3.6',
       'Underwriters Laboratories\n3.3', 'Altus Group\n3.7', 'Jobot\n5.0',
       'Trovetechs Inc', 'Oshkosh Corporation\n4.2', 'Mackin\n3.4',
       'PETADATA', 'VBeyond Corporation\n4.4', 'Take-Two\n3.7',
       'Colony Brands\n3.7', 'Capio Group\n4.1', 'SleePare\n3.4',
       'ShorePoint\n4.5', 'Dolphin\n3.5', 'TE Connectivity\n3.6',
       'State of Virginia\n3.2', 'TA Digital\n3.7',
       'Market America Inc\n4.0', 'TrueAccord\n3.4',
       'ALTA IT Services\n3.9', 'Kollasoft Inc.\n3.2',
       'ASRC Federal Holding Company\n3.4', 'Adwait Algorithm\n4.4',
       'Cambridge FX\n3.5', 'Metromile\n3.8', 'Criteo\n3.9',
       'Advance Sourcing Concepts\n3.4', 'Enterprise Solutions Inc\n3.8',
       'Microagility', 'Conch Technologies, Inc\n4.6', 'GSK\n3.9',
       'Rainmaker Resources, LLC', '22nd Century Technologies\n3.7',
       'Huxley\n3.3', 'FM Systems\n3.4', 'B4Corp',
       'Blue Cross and Blue Shield of North Carolina\n3.7',
       'Jane Street\n4.8', 'SSATI\n5.0',
       'Solving IT International Inc\n3.4',
       'The Davey Tree Expert Company\n3.3', 'Centauri\n4.6',
       'Stride Search', 'Software Engineering Institute\n2.6',
       'TechProjects\n4.8', '7Park Data\n3.9',
       'Ameritas Life Insurance Corp\n3.0', 'Western Digital\n3.5',
       'Shimento, Inc.\n2.9', 'Averity\n5.0', 'Praxis Engineering\n4.7',
       'Point72 Ventures',
       'Johns Hopkins University Applied Physics Laboratory\n4.5',
       'Cambridge Mobile Telematics\n4.9', 'Blend360\n4.6',
       'Nolij Consulting\n3.9', 'Hatch Data Inc',
       'Compass Consulting Group\n4.7', 'SolutionIT, Inc.\n4.4',
       'Perspecta\n3.2', 'Smith Hanley Associates\n4.5',
       'Allen Institute\n3.5', 'Eliassen Group\n4.4',
       'Bayside Solutions\n3.1', 'Evolve Vacation Rental\n3.5',
       'AgreeYa Solutions\n3.8', 'Carolina Power & Light Co\n3.7',
       'New Iron Group, Inc.\n5.0', 'Travelers\n4.0', 'Twitch\n3.6',
       'Biogen\n3.6', 'HireAi', 'Mentor Graphics\n4.1',
       'WCG (WIRB-Copernicus Group)\n3.6',
       'Visionary Integration Professionals\n4.3', 'Dynetics\n4.0',
       'Navy Federal Credit Union\n3.9',
       'Exact Sciences Corporation\n4.0',
       'Community Behavioral Health\n3.6', 'Reynolds American\n3.3',
       'LifeOmic\n5.0', 'Visionist, Inc.\n4.9', 'Navio',
       'Concerto HealthAI\n3.3', 'Evolvinc', 'PROPRIUS\n5.0',
       'TECHNOCRAFT Solutions\n3.4', 'Latitude, Inc.\n4.1',
       'Royce Geospatial\n5.0', 'CyberCoders\n4.2',
       'Booz Allen Hamilton Inc.\n3.7', 'Burns & McDonnell\n3.8',
       'InvenTech Info\n4.8', 'Robert Half\n3.5',
       'Conflux Systems Inc.\n4.5', 'Voice\n3.4',
       'Falcon IT & Staffing Solutions', 'DataLab USA\n3.6',
       'Werner Enterprises Inc\n3.1', 'PeopleCom\n5.0',
       'VANTA Partners\n5.0', 'Blue Icy Water, LLC',
       "Farmer's Business Network, Inc.\n3.5", 'Sonde Health',
       'Maxiom\n5.0', 'Change Healthcare\n2.7', 'DCS Corp\n4.1',
       'Hive (CA)\n2.1', 'Hackensack Meridian Health\n3.3',
       'Net2Source Inc.\n3.2', 'The Trade Desk\n3.2', 'IBM\n3.7',
       'Knowesis Inc.\n4.4', 'MoTek Technologies\n3.1', 'HPOne\n3.5',
       'Blue Cloak LLC', 'TBWA\\Chiat\\Day\n2.7',
       'ThreeBridge Solutions\n3.5', 'Numeric, LLC\n3.2',
       'Centraprise\n4.2', 'DW Simpson\n4.2', 'LinQuest\n3.9',
       'Trexquant Investment\n4.0', 'Fleetcor\n3.7',
       'Radiant Digital\n4.5', 'Child Care Aware of America\n2.8',
       'IntelliPro Group Inc.\n4.1', 'USI\n3.4', 'Apex Systems\n3.9',
       'Pragmatics, Inc.\n2.9', 'Crossover Health\n3.5',
       'Lorven Technologies Inc\n4.0', 'Gap Inc.\n3.5',
       'Tygart Technology, Inc\n4.7', 'Murray Resources\n4.6',
       'New York Technology Partners\n4.0',
       'Two95 International Inc.\n4.0', 'Sophinea', 'CRS Group\n4.7',
       'Blackstone Talent Group\n3.5', 'Roche\n4.1',
       'Creative Circle\n3.6', 'Blue Horizon Tek Solutions\n5.0',
       'Sharpedge Solutions Inc\n4.7',
       'Alaka`ina Foundation Family of Companies\n3.6',
       'Hexagon US Federal\n2.7', 'Monte Rosa Therapeutics',
       'Comtech Global Inc\n4.0', 'Aveshka, Inc.\n3.8',
       '10x Genomics\n4.2', 'CompuForce', '1-800-Flowers\n2.7',
       'Aptive\n3.5', 'JCD Staffing\n5.0', 'Thumbtack\n3.9',
       'MILVETS Systems Technology, Inc.\n3.4', 'Apple\n4.1',
       'Kforce\n4.1', 'OppLoans\n4.4', 'Brillient\n3.9',
       'Xator Corporation\n2.9', 'HAN IT Staffing Inc.\n4.6',
       'Infinitive Inc\n3.4', 'New Relic\n4.7', 'ICW Group\n3.3',
       'NYSTEC\n3.8', 'E3 Federal Solutions\n4.5', 'Peraton\n3.4',
       'Group O\n3.1', 'CaptiveAire\n4.1', 'Temboo\n3.9', 'Kibo',
       'AeroVironment\n4.2', 'Applied Research Laboratories\n3.8',
       'Conagen\n2.0', 'Alector\n4.8', 'Homology Medicines, Inc.\n4.4',
       'Inland Empire Health Plan\n3.3',
       'Sandia National Laboratories\n3.8', 'CIA\n3.8',
       'Maven Wave Partners\n4.5', 'Ovative Group\n4.3', 'Kognetics\n3.6',
       'Envision Healthcare\n2.9', 'ConsumerTrack\n3.2',
       'Meridian Knowledge Solutions\n4.4', 'UST Global\n4.2',
       'IMG Systems\n3.2', 'Trident Systems Inc\n3.4', 'GrainBridge, LLC',
       'First Health Group\n3.2', 'Sprezzatura Management Consulting',
       'Progress Rail, A Caterpillar Company\n2.8',
       'Axiologic Solutions\n4.5', 'Indigo Slate\n3.0', 'Cubic\n3.3',
       'Advanced Bio-Logic Solutions Corp\n4.0',
       'Alignment Healthcare\n3.5', 'WGSN\n3.5',
       'ISYS Technologies, Inc.\n3.6', 'TransVoyant\n3.0', 'Geotab\n4.3',
       'EGlobalTech\n3.7', 'Central Business Solutions, Inc\n3.0',
       'KeHE Distributors\n2.5', 'Moxie Software\n3.0',
       'Unicom Technologies INC\n4.7', 'Americo Life\n3.3',
       'Tokio Marine HCC\n3.3', 'CACI International\n3.5',
       'Berico Technologies', 'Kehe Food Distributors', 'Pactera Edge',
       'Qurate Retail Group\n3.6', 'A-Line Staffing Solutions\n4.1',
       'Clear Ridge Defense', 'Criterion Systems, Inc.\n3.8',
       'Foundation Medicine\n4.0', 'TRANZACT\n3.6', 'JKGT', 'AccessHope',
       'ChaTeck Incorporated\n5.0'], dtype=object)

In [29]:
data['Company Name'].head()

0           Healthfirst\n3.1
1               ManTech\n4.2
2        Analysis Group\n3.8
3               INFICON\n3.5
4    Affinity Solutions\n2.9
Name: Company Name, dtype: object

In [30]:
data['Company Name'] = data['Company Name'].apply(lambda x: x.split('\n')[0])
data['Company Name'].head()

0           Healthfirst
1               ManTech
2        Analysis Group
3               INFICON
4    Affinity Solutions
Name: Company Name, dtype: object

## Exracting important keywords from the Description column
#### The Description columns contains information about the job responsibilities and the technologies used in the applied position.

In [31]:
print(data['Job Description'][0])
print(data['Job Description'][1])
print(data['Job Description'][2])

Description

The Senior Data Scientist is responsible for defining, building, and improving statistical models to improve business processes and outcomes in one or more healthcare domains such as Clinical, Enrollment, Claims, and Finance. As part of the broader analytics team, Data Scientist will gather and analyze data to solve and address complex business problems and evaluate scenarios to make predictions on future outcomes and work with the business to communicate and support decision-making. This position requires strong analytical skills and experience in analytic methods including multivariate regressions, hierarchical linear models, regression trees, clustering methods and other complex statistical techniques.

Duties & Responsibilities:

• Develops advanced statistical models to predict, quantify or forecast various operational and performance metrics in multiple healthcare domains
• Investigates, recommends, and initiates acquisition of new data resources from internal and external sources
• Works with multiple teams to support data collection, integration, and retention requirements based on business needs
• Identifies critical and emerging technologies that will support and extend quantitative analytic capabilities
• Collaborates with business subject matter experts to select relevant sources of information
• Develops expertise with multiple machine learning algorithms and data science techniques, such as exploratory data analysis and predictive modeling, graph theory, recommender systems, text analytics and validation
• Develops expertise with Healthfirst datasets, data repositories, and data movement processes
• Assists on projects/requests and may lead specific tasks within the project scope
• Prepares and manipulates data for use in development of statistical models
• Other duties as assigned

Minimum Qualifications:

-Bachelor's Degree

Preferred Qualifications:

- Master’s degree in Computer Science or Statistics
Familiarity with major cloud platforms such as AWS and Azure
Healthcare Industry Experience

Minimum Qualifications:

-Bachelor's Degree

Preferred Qualifications:

- Master’s degree in Computer Science or Statistics
Familiarity with major cloud platforms such as AWS and Azure
Healthcare Industry Experience

WE ARE AN EQUAL OPPORTUNITY EMPLOYER. Applicants and employees are considered for positions and are evaluated without regard to mental or physical disability, race, color, religion, gender, national origin, age, genetic information, military or veteran status, sexual orientation, marital status or any other protected Federal, State/Province or Local status unrelated to the performance of the work involved.

If you have a disability under the Americans with Disability Act or a similar law, and want a reasonable accommodation to assist with your job search or application for employment, please contact us by sending an email to careers@Healthfirst.org or calling 212-519-1798 . In your email please include a description of the accommodation you are requesting and a description of the position for which you are applying. Only reasonable accommodation requests related to applying for a position within Healthfirst Management Services will be reviewed at the e-mail address and phone number supplied. Thank you for considering a career with Healthfirst Management Services.
EEO Law Poster and Supplement

]]>
Secure our Nation, Ignite your Future

Join the top Information Technology and Analytic professionals in the industry to make invaluable contributions to our national security on a daily basis. In this innovative, self-contained, Big Data environment, the ManTech team is responsible for everything from infrastructure, to application development, to data science, to advanced analytics and beyond. The team is diverse, the questions are thought-provoking, and the opportunities for growth and advancement are numerous

The successful candidate will possess a diverse range of data-focused skills and experience, both technical and analytical. They will have a strong desire and capability for problem solving, data analysis and troubleshooting, analytical thinking, and experimentation.

Duties, Tasks & Responsibilities
Working with large, complex, and disparate data sets
Designing and implementing innovative ways to analyze and exploit the Sponsors data holdings
Researching and reporting on a wide variety of Sponsor inquiries
Raising proactive inquiries to the Sponsor based on observations and proposed data analysis/exploitation
Solving difficult, non-routine problems by applying advanced analytical methodologies, and improving analytic methodologies
Developing custom searches
Communicating and coordinating with internal and external partners as needed
Required Experience, Skills, & Technologies

Thorough knowledge of appropriate analytic tools and methodologies in one or more of the following:
Applied mathematics (e.g. probability and statistics, formal modeling, computational social sciences)
Computer programming (e.g. programming languages, math/statistics packages, computer science, machine learning, scientific computing)
Ability to code or script in one or more general programming language
Experience with and theoretical understanding of algorithms for classification, regression, clustering, and anomaly detection
Knowledge of relational databases, including SQL and large-scale distributed systems (e.g. Hadoop)
Expertise with statistical data analysis (e.g. linear models, multivariate analysis, stochastic models, sampling methods)
Demonstrated effectiveness in collecting information and accurately representing/visualizing it to non-technical third parties
TS/SCI with Polygraph
Bachelor of Science or equivalent and 12-15 years related experience, but will consider all levels of experience.
Desired Experience, Skills & Technologies
Previous investigative experience using a combination of technical and analytic skills
#LI-DU1

ManTech International Corporation, as well as its subsidiaries proactively fulfills its role as an equal opportunity employer. We do not discriminate against any employee or applicant for employment because of race, color, sex, religion, age, sexual orientation, gender identity and expression, national origin, marital status, physical or mental disability, status as a Disabled Veteran, Recently Separated Veteran, Active Duty Wartime or Campaign Badge Veteran, Armed Forces Services Medal, or any other characteristic protected by law.

If you require a reasonable accommodation to apply for a position with ManTech through its online applicant system, please contact ManTech's Corporate EEO Department at (703) 218-6000. ManTech is an affirmative action/equal opportunity employer - minorities, females, disabled and protected veterans are urged to apply. ManTech's utilization of any external recruitment or job placement agency is predicated upon its full compliance with our equal opportunity/affirmative action policies. ManTech does not accept resumes from unsolicited recruiting firms. We pay no fees for unsolicited services.

If you are a qualified individual with a disability or a disabled veteran, you have the right to request an accommodation if you are unable or limited in your ability to use or access http://www.mantech.com/careers/Pages/careers.aspx as a result of your disability. To request an accommodation please click careers@mantech.com and provide your name and contact information.
Overview


Analysis Group is one of the largest international economics consulting firms, with more than 1,000 professionals across 14 offices in North America, Europe, and Asia. Since 1981, we have provided expertise in economics, finance, health care analytics, and strategy to top law firms, Fortune Global 500 companies, and government agencies worldwide. Our internal experts, together with our network of affiliated experts from academia, industry, and government, offer our clients exceptional breadth and depth of expertise.

We are currently seeking a Data Scientist to join our team. The ideal candidate should be passionate about working on cutting edge research and analytical services for Fortune 500 companies, global pharma/biotech firms and leaders in industries such as finance, energy and life sciences. The Data Scientist will be a contributing member to client engagements and have the opportunity to work with our network of world-class experts and thought leaders.

Job Functions and Responsibilities

The candidate Data Scientist will help develop, maintain and teach new tools and methodologies related to data science and high performance computing. This position will also help Analysis Group in maintaining our leadership position in terms of advancing methodology and data analytics. The Data Scientist will be responsible for staying abreast of new developments in technology relating to data science, to share more broadly with Analysis Group.

Key responsibilities for this position will include:
Working with project teams to address data science/computing challenges
Identifying opportunities for technology to enhance service offerings
Acting as a resource and participating in client engagements and research as part of the project team
Maintaining up-to-date knowledge of computing tools, providing technical training and helping to grow the in-house knowledge base, specifically in a Linux environment
Presenting research at selected conferences
Examples of activities for the Data Scientist will include:
Developing data engineering and machine learning production systems for full stack data science projects
Using natural language processing methodologies to work with EMR data, social media data and other unstructured data
Optimizing procedures for managing and accessing large databases (e.g., insurance claims, electronic health records, financial transactions)
Creating interactive analytics portals and data visualizations (e.g., using R/Shiny, Python/Flask, D3)
Building and maintaining high performance computing (HPC) tools on grid and cloud computing environments
Developing and reviewing software and packages in R, Python and other Object Oriented Languages
Establishing optimized procedures for repetitive or computationally intensive tasks (C, C++, Cuda-C)
Qualifications
Strong credentials and experience in database management and data visualization
Significant experience working within a Linux environment required
Background in Statistics/Econometrics or Biostatistics
Ideally PhD in Computer Science, Mathematics, Statistics, Economics or other relevant scientific degree with relevant experience. Other candidates with at least one year of experience in the field may also be considered
Excellent written and verbal communication skills
Project experience with R and/or Python
Familiar with online/cloud computing/storage (e.g., AWS)
Demonstrated experience working on project teams and collaborating with others
SCIENTIFIQUE DES DONNÉES

*L’utilisation du genre masculin sert uniquement à alléger le texte et est utilisé ici en tant que genre neutre

Survol

Groupe d’analyse ltée est l’une des plus grandes firmes de services-conseils en économie, comptant plus de 950 professionnels répartis dans 14 bureaux en Amérique du Nord, en Europe et en Asie. Depuis 1981, nous offrons notre expertise en matière de stratégie, d’économie, de finance et d’analyse dans le domaine des soins de santé aux grands cabinets d’avocats, aux sociétés Fortune Global 500 et aux agences gouvernementales du monde entier. Nos professionnels en poste conjugués à notre réseau de spécialistes affiliés issus d’universités, d’industries spécifiques et d’organismes gouvernementaux procurent à notre clientèle un savoir-faire d’une portée et d’une profondeur exceptionnelles.

Nous sommes présentement à la recherche d'un Scientifique des données (« Data Scientist ») pour se joindre à notre équipe. Le candidat idéal devrait être passionné par la recherche de pointe et les services analytiques pour les entreprises Fortune 500, les entreprises pharmaceutiques et biotechnologiques mondiales et les chefs de file dans des secteurs de la finance, l'énergie et les sciences de la vie. Le Scientifique des données sera un membre contributeur aux mandats des clients et aura l'occasion de travailler avec notre réseau d'experts et de leaders d'opinion de classe mondiale.

Description du poste et des responsabilités

Le scientifique des données aidera à développer, maintenir et enseigner de nouveaux outils et méthodologies liés à la science des données (« Data Science ») et au HPC. Ce poste aidera également le Groupe d'analyse à maintenir sa position de chef de file en ce qui a trait à l'avancement de la méthodologie et de l'analyse des données. Le scientifique des données sera chargé de se tenir au courant des nouveaux développements technologiques liés à la science des données, afin de les partager plus largement avec le Groupe d'analyse.

Les principales responsabilités de ce poste comprendront:

- Collaborer avec les consultants pour relever les défis de la science des données et de sciences informatiques

- Agir à titre de ressource et participer aux mandats et à la recherche en tant que membre de l'équipe de projet

- Maintenir à jour les connaissances sur les outils informatiques, fournir une formation technique et aider à développer la base de connaissances interne, notamment dans un environnement Linux

- Présenter la recherche à des conférences choisies

Exemples de tâches du scientifique des données :

- Développement de systèmes de production en ingénierie des données ainsi qu’en apprentissage machine pour des projets de science des données full stack

- Utiliser des méthodologies NLP pour travailler avec les données médicales électroniques, les données des médias sociaux et d'autres données non structures

- Optimiser les procédures de gestion et d'accès aux grandes bases de données (ex. réclamations d'assurance, dossiers de santé électroniques, transactions financières)

- Création de portails d'analyse interactifs et de visualisations de données (par exemple, en utilisant R/Shiny, Python/Flask, D3)

- Construire et maintenir des outils de calcul de haute performance (HPC).

- Développement et révision de codes en R, Python et autres langages

- Mise en place de procédures optimisées pour les tâches répétitives ou intensives en calcul (C, C++, Cuda-C)

Qualifications requises

- Solides références et expérience dans la gestion de bases de données et de la visualisation de données

- Expérience de travail significative dans un environnement Linux requise

- Expérience antérieure en statistique/économétrie ou bio-statistique

- Idéalement, être titulaire d'un doctorat en sciences informatiques, en mathématiques, en statistique, en économie ou d'un autre diplôme scientifique pertinent et posséder une expérience pertinente. Les candidats ayant au moins un an d'expérience dans le domaine peuvent également être considérés.

- Excellentes aptitudes de communication écrite et verbale

- Expérience de projet avec R et/ou Python

- Familiarité avec l'informatique en ligne/info nuagique et le stockage (AWS)

- Expérience de travail démontrée au sein d'équipes de projet et de collaboration avec d'autres personnes

­
Equal Opportunity Employer/Protected Veterans/Individuals with Disabilities.
Please view Equal Employment Opportunity Posters provided by OFCCP here.
The contractor will not discharge or in any other manner discriminate against employees or applicants because they have inquired about, discussed, or disclosed their own pay or the pay of another employee or applicant. However, employees who have access to the compensation information of other employees or applicants as a part of their essential job functions cannot disclose the pay of other employees or applicants to individuals who do not otherwise have access to compensation information, unless the disclosure is (a) in response to a formal complaint or charge, (b) in furtherance of an investigation, proceeding, hearing, or action, including an investigation conducted by the employer, or (c) consistent with the contractor's legal duty to furnish information. 41 CFR 60-1.35(c)

In [32]:
data['Python'] = data['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
data['Excel'] = data['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
data['AWS'] = data['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
data['Tableau'] = data['Job Description'].apply(lambda x: 1 if 'tableau' in x.lower() else 0)
data['SQL'] = data['Job Description'].apply(lambda x: 1 if 'sql' in x.lower() else 0)
data['Hadoop'] = data['Job Description'].apply(lambda x: 1 if 'hadoop' in x.lower() else 0)

In [33]:
data.head()

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Average_size_of_employees,Founded,Type of ownership,Industry,Sector,Competitors,Min_Salary,Max_Salary,Average_Salary,Revenue_in_Million,Python,Excel,AWS,Tableau,SQL,Hadoop
0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",2500,1993,Nonprofit Organization,Insurance Carriers,Insurance,"EmblemHealth, UnitedHealth Group, Aetna",137000,171000,154000.0,1234.462963,0,0,1,0,0,0
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5000,1968,Company - Public,Research & Development,Business Services,-1,137000,171000,154000.0,1500.000000,0,0,0,0,1,1
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",2500,1981,Private Practice / Firm,Consulting,Business Services,-1,137000,171000,154000.0,300.000000,1,1,1,0,0,0
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",750,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137000,171000,154000.0,300.000000,1,1,1,0,1,0
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",125,1998,Company - Private,Advertising & Marketing,Business Services,"Commerce Signals, Cardlytics, Yodlee",137000,171000,154000.0,1234.462963,1,1,0,0,1,0

## Age of the company from the founded column by subtracting it from the current year
#### Notice that some company's has -1 in the Founded column those we will set them to the current year

In [34]:
data['Founded'].value_counts()[0:5]

Founded
-1       79
 2012    17
 1999    14
 2000    13
 2010    13
Name: count, dtype: int64

In [35]:
current_year = 2023
data['Founded'] = data['Founded'].apply(lambda x: current_year if x == -1 else x)
data['Company_age'] = current_year - data['Founded']
data['Company_age'].head()

0    30
1    55
2    42
3    23
4    25
Name: Company_age, dtype: int64

## Headquarters and Location columns splitting the city from the state/province
#### We can see from the cell below that the Location column contains United States, Remote, New Jersey, Utah, and Texas as values.

In [36]:
data['Location'].value_counts()

Location
San Francisco, CA             36
New York, NY                  33
Washington, DC                18
Chicago, IL                   13
Boston, MA                    10
United States                  9
Cambridge, MA                  9
Chantilly, VA                  8
Reston, VA                     7
McLean, VA                     7
Herndon, VA                    6
Atlanta, GA                    5
Santa Clara, CA                5
San Diego, CA                  5
Saint Louis, MO                5
Palo Alto, CA                  4
Fort Belvoir, VA               4
Seattle, WA                    4
Plano, TX                      4
Remote                         3
Pittsburgh, PA                 3
San Carlos, CA                 3
Philadelphia, PA               3
Bellevue, WA                   3
Raleigh, NC                    3
South San Francisco, CA        3
Thousand Oaks, CA              3
Cincinnati, OH                 3
Omaha, NE                      2
Birmingham, AL                 2
San Mateo, CA                  2
Kansas City, MO                2
Rockville, MD                  2
Bethesda, MD                   2
Annapolis Junction, MD         2
Alpharetta, GA                 2
Nashville, TN                  2
Chandler, AZ                   2
Denver, CO                     2
Durham, NC                     2
Baltimore, MD                  2
Richmond, VA                   2
Sunnyvale, CA                  2
San Jose, CA                   2
Oakland, CA                    2
Edison, NJ                     2
Springfield, VA                2
Falls Church, VA               2
Livermore, CA                  2
Hampton, VA                    2
Columbia, MD                   2
Hartford, CT                   2
Vienna, VA                     2
Fort Worth, TX                 2
Irvine, CA                     2
New Bedford, MA                2
Richland, WA                   2
Alexandria, VA                 2
Fairfax, VA                    2
Naperville, IL                 2
Northbrook, IL                 2
Phoenix, AZ                    2
Arlington, VA                  2
Newton, MA                     2
Santa Barbara, CA              2
Austin, TX                     2
Dallas, TX                     1
Houston, TX                    1
Fremont, CA                    1
Minneapolis, MN                1
Gahanna, OH                    1
California                     1
Wellesley, MA                  1
Adelphi, MD                    1
Washington, VA                 1
Orange, CA                     1
Oakville, CA                   1
Laurel, MD                     1
Redmond, WA                    1
Kent, OH                       1
Hamilton, NJ                   1
Concord, CA                    1
Ann Arbor, MI                  1
Woodlawn, MD                   1
Monterey, CA                   1
West Chester, PA               1
Quantico, VA                   1
Fort Lee, NJ                   1
Sacramento, CA                 1
Monroe, WI                     1
Rancho Cucamonga, CA           1
Frederick, MD                  1
Huntsville, AL                 1
Colorado Springs, CO           1
Foster City, CA                1
Sterling, VA                   1
Trumbull, CT                   1
Menlo Park, CA                 1
Southfield, MI                 1
Boulder, CO                    1
San Clemente, CA               1
The Woodlands, TX              1
Pleasanton, CA                 1
Lombard, IL                    1
Ashburn, VA                    1
Open Fork, VA                  1
Fort Sam Houston, TX           1
Germantown, MD                 1
Brooklyn, NY                   1
Lexington Park, MD             1
Winters, TX                    1
Manchester, NH                 1
Jersey City, NJ                1
Patuxent, Anne Arundel, MD     1
Oxnard, CA                     1
San Ramon, CA                  1
Burbank, CA                    1
Silver Spring, MD              1
Winston-Salem, NC              1
Portland, OR                   1
Simi Valley, CA                1
Madison, WI                    1
Merrifield, VA                 1
Mountain View, CA              1
Oklahoma City, OK              1
Oshkosh, WI                    1
Yakima, WA                     1
Winter Park, FL                1
Peoria, IL                     1
Ipswich, MA                    1
Carmel, IN                     1
Emeryville, CA                 1
Gaithersburg, MD               1
Longmont, CO                   1
Santa Cruz, CA                 1
Coral Gables, FL               1
Utah                           1
New Jersey                     1
Aurora, CO                     1
Hill AFB, UT                   1
Indianapolis, IN               1
Timonium, MD                   1
Burlingame, CA                 1
Brisbane, CA                   1
Carson, CA                     1
Danvers, MA                    1
Bothell, WA                    1
Bedford, MA                    1
Memphis, TN                    1
West Grove, PA                 1
Appleton, WI                   1
Orlando, FL                    1
Lexington, MA                  1
Sheboygan, WI                  1
Lincoln, NE                    1
Woburn, MA                     1
Overland Park, KS              1
Santa Monica, CA               1
Portsmouth, NH                 1
Ewing, NJ                      1
New Orleans, LA                1
Akron, OH                      1
Fort Wayne, IN                 1
Dayton, OH                     1
Schaumburg, IL                 1
Cupertino, CA                  1
Charlotte, NC                  1
Linthicum Heights, MD          1
Maple Plain, MN                1
Tulsa, OK                      1
Scotts Valley, CA              1
Spartanburg, SC                1
Beavercreek, OH                1
Norfolk, VA                    1
Champaign, IL                  1
Lehi, UT                       1
Texas                          1
Hoboken, NJ                    1
Lebanon, IN                    1
Melbourne, FL                  1
Cleveland, OH                  1
Norwell, MA                    1
Piscataway, NJ                 1
Cedar Rapids, IA               1
Smithfield, RI                 1
Waltham, MA                    1
Oak Ridge, TN                  1
Culver City, CA                1
Lake Oswego, OR                1
Holyoke, MA                    1
Woodbridge, NJ                 1
Dearborn, MI                   1
Maryland Heights, MO           1
Carpinteria, CA                1
Columbia, SC                   1
Hauppauge, NY                  1
Fort Meade, MD                 1
Columbia, MO                   1
Vicksburg, MS                  1
Blue Bell, PA                  1
Redwood City, CA               1
Harrisburg, PA                 1
Irwindale, CA                  1
Name: count, dtype: int64

In [37]:
data['Job_state'] = data['Location'].apply(lambda x: x.split(',')[-1])
data['Job_state'].head()

0     NY
1     VA
2     MA
3     MA
4     NY
Name: Job_state, dtype: object

In [38]:
data['Job_state'].value_counts()

Job_state
 CA              101
 VA               55
 NY               35
 MA               32
 MD               22
 IL               21
 DC               18
 TX               13
 WA               12
 PA               10
 MO                9
 OH                9
United States      9
 NJ                9
 NC                7
 GA                7
 CO                6
 WI                5
 IN                4
 FL                4
 TN                4
 AZ                4
 CT                3
 MI                3
 AL                3
 NE                3
Remote             3
 NH                2
 UT                2
 OR                2
 SC                2
 OK                2
 MN                2
Texas              1
 IA                1
 LA                1
 RI                1
 MS                1
New Jersey         1
Utah               1
 KS                1
California         1
Name: count, dtype: int64

In [39]:
data[(data['Location'] == 'United States') | (data['Location'] == 'Remote') | (data['Location'] == 'New Jersey')\
     | (data['Location'] == 'Utah') | (data['Location'] == 'Texas') | (data['Location'] == 'California')][['Location', 'Headquarters']]

          Location           Headquarters
16          Remote         Washington, DC
34   United States            Seattle, WA
53          Remote             Vienna, VA
89   United States            Mc Lean, VA
93            Utah       South Jordan, UT
100     New Jersey            Holmdel, NJ
227  United States  Tel Aviv-Yafo, Israel
237          Texas           San Jose, CA
305         Remote      San Francisco, CA
307  United States         Scottsdale, AZ
438  United States            Livonia, MI
473  United States           Stamford, CT
483  United States             Reston, VA
510  United States        Los Angeles, CA
601     California        Los Angeles, CA
620  United States          San Diego, CA

In [40]:
def work_location_cleaning(title):
    if 'United States' == title:
        title = 'US'
    elif 'New Jersey' == title:
        title = 'NJ'
    elif 'Texas' == title:
        title = 'TX'
    elif 'Utah' == title:
        title = 'UT'
    elif 'California' == title:
        title = 'CA'
    return title
    
data['Job_state'] = data['Job_state'].map(work_location_cleaning) 
data['Job_state'].unique()

array([' NY', ' VA', ' MA', ' CA', ' IL', ' MO', ' WA', ' DC', 'Remote',
       ' TN', ' TX', ' PA', ' AZ', ' WI', ' GA', ' FL', 'US', ' NE',
       ' KS', ' NH', ' NJ', ' LA', ' OH', ' IN', ' MD', ' CO', 'UT', 'NJ',
       ' UT', ' OR', ' MI', ' SC', ' MS', ' AL', ' RI', ' IA', ' MN',
       ' OK', ' CT', ' NC', 'TX', 'CA'], dtype=object)

## Rating column

In [41]:
data['Rating'].value_counts().head()

Rating
 3.5    35
-1.0    30
 3.7    26
 5.0    24
 3.4    24
Name: count, dtype: int64

In [42]:
data['Rating'] = data['Rating'].map(lambda x: 0 if x == -1 else x)
data['Rating'].value_counts().head()

Rating
3.5    35
0.0    30
3.7    26
5.0    24
3.4    24
Name: count, dtype: int64

## Now for the -1 values in the headquarter.
### We will fill those values with the value in the location column

In [43]:
data['Headquarters'].value_counts().head()

Headquarters
New York, NY         25
San Francisco, CA    20
-1                   16
Reston, VA           10
Chicago, IL           9
Name: count, dtype: int64

In [44]:
mask = data['Headquarters'] == '-1'
location_df = data.loc[mask, 'Location']
data.loc[mask, 'Headquarters'] = location_df
data['Headquarters'].value_counts().head()

Headquarters
New York, NY         26
San Francisco, CA    23
Reston, VA           11
Chicago, IL           9
Boston, MA            8
Name: count, dtype: int64

## End of the cleaning process and saving the file
#### We removed the compitetors column from the data as it has too many -1 values more than half

In [45]:
data['Competitors'].value_counts()

Competitors
-1                                                                                              324
Oak Ridge National Laboratory, National Renewable Energy Lab, Los Alamos National Laboratory      2
Intertek, SGS, Bureau Veritas                                                                     1
Kforce, PageGroup, Robert Half                                                                    1
MIT Lincoln Laboratory, Lockheed Martin, Northrop Grumman                                         1
Raytheon Technologies, Northrop Grumman, Booz Allen Hamilton                                      1
Seagate Technology, Toshiba                                                                       1
TASC, Vencore, Booz Allen Hamilton                                                                1
ACRT Services, Bartlett Tree Experts                                                              1
Archibus, iOffice, Planon                                                                         1
Pfizer, AstraZeneca, Merck                                                                        1
MediaMath, Conversant, AppNexus                                                                   1
Activision Blizzard, Electronic Arts                                                              1
Lockheed Martin, Caterpillar, John Deere                                                          1
Fluor, Bechtel, AECOM                                                                             1
South Carolina Electric & Gas, Virginia Electric and Power                                        1
Los Alamos National Laboratory, NASA Jet Propulsion Laboratory, Sandia National Laboratories      1
AT&T, Verizon                                                                                     1
Covidien, Boston Scientific                                                                       1
Amazon, Apple                                                                                     1
Advisory Board, Booz Allen Hamilton, McKinsey & Company                                           1
Eaton, SMC Corporation, Bosch Rexroth                                                             1
Raytheon Technologies, General Dynamics, MIT Lincoln Laboratory                                   1
DHL Supply Chain, UPS, FedEx                                                                      1
Pfizer, GlaxoSmithKline                                                                           1
Square, Amazon, Apple                                                                             1
Lumentum Operations, Keysight Technologies, O-Net Technologies                                    1
TEKsystems, Kforce, Randstad US                                                                   1
EmblemHealth, UnitedHealth Group, Aetna                                                           1
ManTech, Booz Allen Hamilton, Leidos                                                              1
CGI (Nevada), Accenture, Deloitte                                                                 1
CSC, ManTech, SAIC                                                                                1
Zurich Insurance, AXA XL, Allianz                                                                 1
LivePerson, Salesforce, SAP                                                                       1
United Natural Foods, US Foods, DPI Specialty Foods                                               1
Accenture, Northrop Grumman, Xerox                                                                1
Humana                                                                                            1
Cognizant Technology Solutions, Infosys, Wipro                                                    1
Los Alamos National Laboratory, Lawrence Livermore National Laboratory                            1
General Atomics, Boeing, Northrop Grumman                                                         1
KPMG, Accenture, Deloitte                                                                         1
Liberty Mutual Insurance, EMPLOYERS, Travelers                                                    1
AppDynamics, Datadog, Dynatrace                                                                   1
Google, Microsoft, Samsung Electronics                                                            1
Aquent, 24 Seven Talent                                                                           1
Novartis, AstraZeneca, Siemens Healthineers                                                       1
H&M, Inditex, Fast Retailing                                                                      1
TEKsystems, Insight Global, Accenture                                                             1
Booz Allen Hamilton, Deloitte, ERPi                                                               1
Amazon, Accenture, Microsoft                                                                      1
Acxiom, Merkle, Epsilon (North Carolina)                                                          1
Adecco, Manpower                                                                                  1
Bechtel Jacobs, Black & Veatch, HNTB                                                              1
Accenture, Deloitte, PwC                                                                          1
Cadence Design Systems, Synopsys, Altium Limited                                                  1
Los Alamos National Laboratory, Battelle, SRI International                                       1
Monster Worldwide, CareerBuilder, Craigslist                                                      1
Harris, Fibertek                                                                                  1
Thermo Fisher Scientific, Enzymatics, Illumina                                                    1
John Deere, Komatsu, CNH Industrial                                                               1
Linqia, Collective Bias                                                                           1
Sequenom                                                                                          1
Luxoft, EPAM, Capgemini Invent                                                                    1
IMAGE Skincare, Aveda, Kiehl's                                                                    1
Munich Re, Hannover RE, SCOR                                                                      1
DoorDash, Uber, Grubhub                                                                           1
Facebook, Google, Pinterest                                                                       1
Skyhigh Networks, Zscaler, NortonLifeLock                                                         1
Novartis, Baxter, Pfizer                                                                          1
Travelers, Allstate, State Farm                                                                   1
TrueCar, Cars.com, Kelley Blue Book                                                               1
Enlivant, Sunrise Senior Living, Brookdale Senior Living                                          1
Puppet, Ansible, SaltStack                                                                        1
Northwestern Mutual                                                                               1
Crossix Solutions Inc., AppNexus, The Trade Desk                                                  1
CDW, PCM, SHI International                                                                       1
Slalom, Daugherty Business Solutions                                                              1
Leidos, CACI International, Booz Allen Hamilton                                                   1
Square, PayPal, H&R Block                                                                         1
Commerce Signals, Cardlytics, Yodlee                                                              1
MKS Instruments, Pfeiffer Vacuum, Agilent Technologies                                            1
CUNA Mutual, SWBC, Overby-Seawell                                                                 1
Zola Registry                                                                                     1
Colony Specialty, Markel, RLI                                                                     1
Engagio, Bombora, Terminus                                                                        1
Children's Health, Texas Health Resources, Baylor Scott & White Health                            1
Drip, iContact, Mailchimp                                                                         1
Bromium, FireEye, Authentic8                                                                      1
Genomic Health, 23andMe, Illumina                                                                 1
PRA Group                                                                                         1
GE Digital, Palantir Technologies, Uptake                                                         1
Adecco, ManpowerGroup, Allegis Corporation                                                        1
Covance, ICON                                                                                     1
Bosch, Lear Corporation, Faurecia                                                                 1
SAIC, Leidos, Northrop Grumman                                                                    1
Arbella Insurance, Safety Insurance                                                               1
Roche, GlaxoSmithKline, Novartis                                                                  1
IQVIA, ICON                                                                                       1
Battelle, General Atomics, SAIC                                                                   1
Copper River Shared Services, Chenega Corporation, Deloitte                                       1
Epic, CipherHealth                                                                                1
Booz Allen Hamilton, SAIC, LMI                                                                    1
Booz Allen Hamilton, CACI International                                                           1
The World Bank, IMF                                                                               1
Nielsen, Zappi, SurveyMonkey                                                                      1
Braintree, Authorize.Net, PayPal                                                                  1
Solution Design Group, Intertech (Minnesota)                                                      1
Genomic Health, Myriad Genetics, The Broad Institute                                              1
Name: count, dtype: int64

In [46]:
data.drop(columns=['Competitors'], axis=1 ,inplace= True)

In [47]:
data.head()

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Average_size_of_employees,Founded,Type of ownership,Industry,Sector,Min_Salary,Max_Salary,Average_Salary,Revenue_in_Million,Python,Excel,AWS,Tableau,SQL,Hadoop,Company_age,Job_state
0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",2500,1993,Nonprofit Organization,Insurance Carriers,Insurance,137000,171000,154000.0,1234.462963,0,0,1,0,0,0,30,NY
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5000,1968,Company - Public,Research & Development,Business Services,137000,171000,154000.0,1500.000000,0,0,0,0,1,1,55,VA
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",2500,1981,Private Practice / Firm,Consulting,Business Services,137000,171000,154000.0,300.000000,1,1,1,0,0,0,42,MA
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",750,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,137000,171000,154000.0,300.000000,1,1,1,0,1,0,23,MA
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",125,1998,Company - Private,Advertising & Marketing,Business Services,137000,171000,154000.0,1234.462963,1,1,0,0,1,0,25,NY

In [49]:
data.to_csv("C:\\Users\\gaber\\Downloads\\Uncleaned_DS_jobs\\Cleaned_DS_jobs.csv")